.uploader-drop {
  position: relative;
  padding: 10px;
  overflow: hidden;
  background-color: #f5f5f5;
  border: 1px dashed #ccc;
}
.uploader-drop.hidden {
  display: none;
}
.uploader-dragover {
  background-color: #f7f7f7;
  border-color: #999;
}
